.auth-container {
  width: 350px;
  margin: 80px auto;
  background: #111;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px #ff416c55;
  text-align: center;
}

.auth-container h2 {
  color: #ff416c;
}

.auth-container input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid #ff416c;
  background: #000;
  color: #fff;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  background: #ff416c;
  color: #fff;
  font-weight: bold;
  margin-top: 15px;
}

.auth-container p {
  margin-top: 15px;
  color: #aaa;
  cursor: pointer;
}
